html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (min-width: 87.5em) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 37.5%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 30%; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  overflow-x: hidden; }

.hero {
  width: 100vw;
  height: 120vh;
  display: flex;
  align-items: center;
 }
  @media only screen and (max-width: 56.25em) {
    .hero {
      height: 70vh; } }
  .hero__text-container {
    text-align: left;
    flex: 0 0 45%;
    margin-left: 5rem;
    margin-right: 5rem;
  } 
  .hero__text {
    margin-top: 1.5rem;
    color: #3d3d3d;
    font-size: 1.4rem;
  margin-bottom: 3rem; }
  .hero__img-container{
    flex: 0 0 40%;
    height: 40rem;
  }
  .hero__img{
    height: 100%;
    width:100%;
  }
  .hero__steps {
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    padding: 0rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw; }
    @media only screen and (max-width: 37.5em) {
      .hero__steps {
        flex-direction: column; } }
  .hero__step {
    background-color: #000000;
    border-radius: 15px;
    padding: 2rem 3rem;
    width: 25rem; }
    @media only screen and (max-width: 37.5em) {
      .hero__step {
        width: 30rem; } }
    .hero__step:not(:last-child) {
      margin-right: 10rem; }
      @media only screen and (max-width: 37.5em) {
        .hero__step:not(:last-child) {
          margin-right: 0;
          margin-bottom: 3rem; } }
  .hero__step-head {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem; }
  .hero__icon {
    width: 3rem;
    height: 3rem;
    margin-right: 2rem;
    fill: #00B4F5; }
  .hero__step-head-text {
    color: #00B4F5;
    font-size: 1.4rem; }
  .hero__step-text {
    color: #ffffff;
    font-size: 1.3rem; }

.page-break {
  width: 100vw;
  position: relative;
  height: 30rem; }
  @media only screen and (max-width: 37.5em) {
    .page-break {
      height: 40rem; } }
  .page-break__img {
    position: absolute;
    height: 100%;
    right: 0;
    bottom: 0;
    transform: rotate(180deg); }
  .page-break .circle-break {
    border-radius: 50%;
    background-color: #256CF5;
    margin-bottom: 3rem;
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%); }
    @media only screen and (max-width: 37.5em) {
      .page-break .circle-break {
        visibility: hidden; } }
    .page-break .circle-break--big {
      height: 7rem;
      width: 7rem; }
    .page-break .circle-break--small {
      height: 4rem;
      width: 4rem; }

.about {
  background-image: url("../img/about us.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  text-align: center;
  padding: 5rem 20rem; }
  .about__text {
    color: #ffffff;
    font-size: 1.5rem; }
    .about__text:not(:last-child) {
      margin-bottom: 3rem; }

.help {
  position: relative;
  padding: 7rem 5rem;
  width: 100vw; }
  .help__break-small {
    position: absolute;
    height: 30%;
    top: 0;
    left: 0; }
    @media only screen and (max-width: 37.5em) {
      .help__break-small {
        height: auto;
        width: 100vw; } }
  .help .heading-1 {
    text-align: center; }
  .help__reason {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem; }
    @media only screen and (max-width: 37.5em) {
      .help__reason {
        flex-direction: column-reverse; } }
    .help__reason--2 {
      flex-direction: row-reverse; }
      @media only screen and (max-width: 37.5em) {
        .help__reason--2 {
          flex-direction: column-reverse; } }
  .help__text {
    width: 65%;
    padding: 3rem; }
  .help__head {
    text-transform: capitalize;
    font-size: 4rem; }
  .help__para {
    font-size: 1.6rem; }
  .help__img {
    width: 25%;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 1px 5px 6rem rgba(0, 0, 0, 0.3); }
    @media only screen and (max-width: 37.5em) {
      .help__img {
        margin-bottom: 10px;
        border-bottom-right-radius: 20px;
        border-top-left-radius: 20px;
        width: 40%; } }

.decor-box {
  position: absolute;
  width: 20%;
  height: 30%;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  background-image: linear-gradient(to bottom, rgba(0, 180, 245, 0.2), rgba(21, 245, 221, 0.2));
  transform: translate(-50%, -50%);
  z-index: -1; }
  @media only screen and (max-width: 37.5em) {
    .decor-box {
      visibility: hidden; } }
  .decor-box--1 {
    top: 40%;
    right: 3%; }
  .decor-box--2 {
    top: 80%;
    left: 23%; }

.join {
  background-image: url("../img/join us main.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  padding: 7rem 10rem; }
  .join__text-container {
    text-align: center; }
  .join__text {
    color: #ffffff;
    font-size: 1.6rem; }

.join-us-hero {
  height: 100vh;
  background-image: url("../img/join us page hero.jpg");
  background-size: 100% 100%;
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  @media only screen and (max-width: 56.25em) {
    .join-us-hero {
      height: 60vh; } }
  .join-us-hero__text-container {
    text-align: center;
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .join-us-hero__text {
    color: #ffffff;
    font-size: 1.6rem; }

.info {
  position: relative;
  padding: 5rem 5rem 0rem 5rem; }

.info-decor {
  position: absolute;
  top: 0;
  left: 0;
  height: 50%; }

.donate-hero {
  height: 100vh;
  background-image: url("../img/donate page hero.jpg");
  background-size: 100% 100%;
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  @media only screen and (max-width: 56.25em) {
    .donate-hero {
      height: 60vh; } }
  .donate-hero__text-container {
    text-align: center;
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .donate-hero__text {
    color: #ffffff;
    font-size: 1.6rem; }

.how-to-help {
  padding: 5rem 5rem 0rem 5rem;
  text-align: center;
  position: relative; }
  .how-to-help__decor {
    position: absolute;
    top: 0;
    left: 0;
    height: 90%; }
    @media only screen and (max-width: 37.5em) {
      .how-to-help__decor {
        height: auto;
        width: 100vw; } }
  .how-to-help__text {
    font-size: 1.6rem;
    width: 80%;
    margin: auto; }
    .how-to-help__text:not(:last-child) {
      margin-bottom: 3rem; }

.donate-details {
  padding: 2rem 5rem 0rem 5rem; }

.sign-up, .sign-in, .account {
  width: 35%;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  -webkit-backdrop-filter: blur(5px);
  margin: 10rem auto 2rem auto;
  box-shadow: 0 5px 6rem rgba(0, 0, 0, 0.16); }
  @media only screen and (max-width: 56.25em) {
    .sign-up, .sign-in, .account {
      width: 50%; } }
  @media only screen and (max-width: 37.5em) {
    .sign-up, .sign-in, .account {
      width: 70%; } }
  .sign-up .heading-2, .sign-in .heading-2, .account .heading-2 {
    text-align: center; }

.sign-up-page, .sign-in-page, .account-page {
  height: 100%;
  background-image: url("../img/form bg.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.lboard-break {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  z-index: -1; }

.lboard-wrapper {
  margin-top: 10rem;
  padding: 0rem 5rem; }

.account__img {
  display: block;
  width: 40%;
  border-radius: 50%;
  margin: auto; }

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
  z-index: 2000; }

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center; }
  .loader__animation {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background-color: #256CF5;
    animation: loading 1s infinite;
    margin-right: 5rem; }
  .loader__text {
    text-transform: uppercase;
    font-size: 3rem;
    background-color: linear-gradient(to right, #00B4F5, #15F5DD);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; }

@keyframes loading {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(10px); }
  100% {
    transform: translateY(0); } }

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  padding: 1rem 3rem;
  justify-content: space-between;
  align-items: center;
  z-index: 1001; }
  .navbar__logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 3rem;
    visibility: visible; }
      .navbar__logo--img {
        height: 4.5rem;
        width: 7rem; }
  .navbar__link:link, .navbar__link:visited {
    text-decoration: none;
    font-size: 1.4rem;
    color: #3d3d3d;
    transition: all .2s ease-in-out;
    position: relative; }
    .navbar__link:link:not(:last-child), .navbar__link:visited:not(:last-child) {
      margin-right: 3rem; }
  .navbar__link::after {
    content: "";
    position: absolute;
    background-color: #3d3d3d;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 1.5px;
    transform: scaleX(0);
    transition: all .2s ease-in-out; }
  .navbar__link:hover::after {
    transform: scaleX(1); }
  .navbar__pages {
    display: flex;
    align-items: center;
    justify-content: space-around; }
    @media only screen and (max-width: 56.25em) {
      .navbar__pages {
        visibility: hidden; } }
  .navbar__account {
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 56.25em) {
      .navbar__account--links {
        visibility: hidden; } }
  .navbar__create-link:link, .navbar__create-link:visited {
    padding: .5rem 1.5rem;
    margin: 0 2rem;
    border: 1px #ffffff solid;
    border-radius: 100px; }
    .navbar__create-link:link::after, .navbar__create-link:visited::after {
      display: none; }
    .navbar__create-link:link:hover, .navbar__create-link:visited:hover {
      color: #000000;
      background-color: #ffffff; }

.toggleNav {
  width: 5rem;
  height: 2px;
  background-color: #00B4F5;
  position: relative;
  visibility: hidden;
  transition: all .3s ease-in-out; }
  .toggleNav::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #00B4F5;
    top: -5px;
    left: 0;
    transform: rotate(0deg);
    transition: all .3s ease-in-out; }
  .toggleNav::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #00B4F5;
    bottom: -5px;
    left: 0;
    transform: rotate(0deg);
    transition: all .3s ease-in-out; }
  @media only screen and (max-width: 56.25em) {
    .toggleNav {
      visibility: visible; } }

.close {
  background-color: transparent; }
  .close::before {
    transform: rotate(135deg);
    top: 0; }
  .close::after {
    transform: rotate(-135deg);
    bottom: 0; }

.navbar-responsive {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  background-color: #fff;
  top: 0;
  width: 100vw;
  height: 100vh;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.4s cubic-bezier(0.71, 0.01, 0.29, 1);
  padding: 2rem 3rem;
  z-index: 300; }
  .navbar-responsive__link:visited, .navbar-responsive__link:link {
    font-size: 4.5rem;
    text-decoration: none;
    background-image: linear-gradient(to right, #00B4F5, #15F5DD);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-transform: uppercase;
    font-weight: 400;
    visibility: visible;
    transition: all .3s ease-in-out; }
    .navbar-responsive__link:visited:not(:last-child), .navbar-responsive__link:link:not(:last-child) {
      margin-bottom: 5rem; }

.open {
  transform: scaleX(1); }
  .open__link:visited, .open__link:link {
    visibility: visible; }

.sticky {
  background-color: #DCE3FF }

.heading-1 {
  font-weight: 600;
  font-size: 4rem;
  line-height: 1.3; }
  .heading-1--white {
    color: #ffffff; }

.color {
  color: #256CF5; }

.heading-2 {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 5rem; }

.btn-primary {
  display: inline-flex;
  align-items: center; }
  .btn-primary__link:visited, .btn-primary__link:link {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: 15px;
    padding: 1rem 3rem;
    transition: all .3s ease-in-out;
    color: #3d3d3d;
    display: inline-block;
    position: relative;
    background-image: linear-gradient(to right, #EDDCFF, #FFDCEB); }

    .btn-secondary__link:visited, .btn-secondary__link:link {
      text-decoration: none;
      font-size: 1.4rem;
      font-weight: 500;
      border-radius: 15px;
      padding: 1rem 3rem;
      transition: all .3s ease-in-out;
      color: #ffffff;
      display: inline-block;
      position: relative;
      background-color: #C5CBF8;}

.footer {
  padding: 3rem;
  background-color: #ffffff;
  text-align: center; }
  .footer__text {
    font-size: 1.6rem; }

.heading-2{
  font-size: 2.5rem;
}

.form {
  padding: 1rem 2rem; }
  .form .btn-primary {
    margin-top: 4rem; }
  .form .input-wrapper {
    position: relative; }
  .form__input-small {
    display: flex;
    align-items: center; }
    .form__input-small .input-wrapper {
      width: 100%; }
      .form__input-small .input-wrapper:not(:last-child) {
        margin-right: 10rem; }

  .form__search-input {
    border-radius: 15px;
    margin-bottom: 2rem;
    width: 100%;
    height: 4rem;
    font-size: 1.4rem;
    padding: 0rem 2rem;
    border: 2.5px solid rgba(0, 0, 0, .15);
    background-color: rgba(220, 227, 255, .6);
    transition: all .2s ease-in-out;
  }

  .form__search-input:hover, .form__search-input:active, .form__search-input:focus, .form__search-input:valid {
    background-color: rgba(220, 227, 255, 1);
  }

  .form__search-input::placeholder {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
  }

  .form__btn {
    cursor: pointer;
    display: inline-block;
    outline: none;
    border: none;
    text-decoration: none;
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    border-radius: 15px;
    padding: 1rem 3rem;
    transition: all .3s ease-in-out;
    color: #3d3d3d;
    display: inline-block;
    position: relative;
    background-image: linear-gradient(to right, #EDDCFF, #FFDCEB);
  }
  .form__input {
    position: relative;
    font-family: inherit;
    color: inherit;
    padding: .5rem 1.5rem;
    font-size: 1.4rem;
    display: inline-block;
    border: none;
    width: 100%;
    outline: none;
    background-color: transparent;
    border-bottom: 3px #C5CBF8 solid;
  }

    .form__line {
      position: absolute;
      background-color: #98A4FD;
      bottom: 0px;
      left: 0;
      width: 100%;
      height: 2.5px;
      transform: scaleX(0%);
      transition: all .2s ease-in-out;
      transform-origin: center;
    }

    .error {
      color: #FF7575;
      font-size: 1.1rem;
      font-weight: 600;
    }

    .form__input:hover + .form__line, .form__input:active + .form__line, .form__input:focus + .form__line, .form__input:valid + .form__line{
    transform: scaleX(100%);
    }

  .form__label {
    position: relative;
    bottom: 5px;
    left: 15px;
    font-size: 1.4rem;
    pointer-events: none;
    color: #000000;
    transition: all .15s ease-in-out; }
  .form .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1.8px;
    width: 100%;
    background-color: #00B4F5;
    transform: scaleX(0);
    transition: all .2s ease-in-out; }
  .form .form__input:focus ~ .form__label, .form .form__input:valid ~ .form__label {
    color: #00B4F5;
    transform: translateY(-25px);
    font-size: 1.2rem; }
    @media only screen and (max-width: 56.25em) {
      .form .form__input:focus ~ .form__label, .form .form__input:valid ~ .form__label {
        transform: translateY(-15px); } }
  .form .form__input:focus ~ .underline, .form .form__input:valid ~ .underline {
    transform: scaleX(1); }
  .form .small-text {
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.5); }

.btn-account:link,
.btn-account:visited {
  padding: .5rem 1rem;
  font-size: 1.5rem;
  margin-top: 2rem;
  display: inline-block;
  text-decoration: none;
  color: #00B4F5;
  border-bottom: 1px solid transparent;
  transition: all .1s ease-in-out; }
  .btn-account:link:hover,
  .btn-account:visited:hover {
    border-bottom: 1px solid #00B4F5; }

.lboard {
  padding: 3rem;
  width: 75%;
  margin: auto; }
  @media only screen and (max-width: 56.25em) {
    .lboard {
      width: 90%; } }
  @media only screen and (max-width: 37.5em) {
    .lboard {
      width: 100%; } }
  .lboard__item {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 5px 4rem rgba(0, 0, 0, 0.2);
    border-radius: 100px;
    padding: 1rem 3rem; }
    .lboard__item:not(:last-child) {
      margin-bottom: 2rem; }
  .lboard__no {
    margin-right: 5rem; }
    @media only screen and (max-width: 37.5em) {
      .lboard__no {
        margin-right: 3rem; } }
  .lboard__img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin-right: 1em; }
  .lboard__info, .lboard__no, .lboard__points {
    font-size: 2rem; }
  .lboard__info {
    width: calc(100% - 28rem); }
    @media only screen and (max-width: 56.25em) {
      .lboard__info {
        width: calc(100% - 25rem); } }
    @media only screen and (max-width: 37.5em) {
      .lboard__info {
        width: calc(100% - 23rem); } }

.file-btn {
  padding: 1rem 3rem;
  background: #00B4F5;
  position: relative;
  color: #ffffff;
  border-radius: 100px;
  font-size: 1.6rem;
  text-align: center;
  cursor: pointer;
  margin-top: 3.5rem;
  display: inline-block; }

.hidden {
  position: absolute;
  z-index: 1000;
  opacity: 0;
  cursor: pointer;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  margin-top: 0; }

.designs-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  width: 80%;
  margin: auto;
  gap: 5rem;
}

.design {
  background-color: #ffffff;
  box-shadow: 11px 14px 30px 5px rgba(0,0,0,0.08);
  padding: 2rem 4rem;
  text-align: center;
  border-radius: 20px;
  position: relative;
  height: 40rem;
}

.design__heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.design__img {
  height: 50%;
  margin-bottom: 1rem;
}

.design__text {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.design .btn-primary {
  transform: scale(70%);
  font-weight: 400;
}

.header {
  padding: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.mgb-extra-large {
  margin-bottom: 10rem; }

.mgb-large {
  margin-bottom: 8rem; }

.mgb-big {
  margin-bottom: 6rem; }

.mgb-medium {
  margin-bottom: 5rem; }

.mgb-small {
  margin-bottom: 3rem; }

.mgb-e-small {
  margin-bottom: 1rem; }

  .mgr-small {
  margin-right: 3rem; }