alembic==1.4.2
appdirs==1.4.4
astroid==2.4.2
atomicwrites==1.4.0
attrs==20.3.0
audioread==2.1.9
backcall==0.2.0
beautifulsoup4==4.9.3
blinker==1.4
cachetools==4.2.0
certifi==2021.10.8
cffi==1.14.5
chardet==3.0.4
click==7.1.2
cloudpickle==1.6.0
colorama==0.4.3
cowin==0.0.4
crypto==1.4.1
cryptography==3.3.2
cycler==0.10.0
DateTime==4.3
decorator==4.4.2
dnspython==2.1.0
docutils==0.17.1
emoji==1.2.0
fake-useragent==0.1.11
Flask==2.0.1
Flask-Dance==3.0.0
Flask-Googletrans==0.10
Flask-Limiter==1.4
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Migrate==2.5.3
Flask-PyMongo==2.3.0
Flask-SocketIO==4.3.1
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.14.3
future==0.18.2
google-api-core==1.24.1
google-auth==1.24.0
google-cloud-vision==2.0.0
googleapis-common-protos==1.52.0
googletrans==3.0.0
grpcio==1.34.0
gunicorn==20.0.4
gym==0.17.3
h11==0.9.0
h2==3.2.0
hashids==1.3.1
hpack==3.0.0
hstspreload==2020.8.25
httpcore==0.9.1
httplib2==0.18.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.7
imutils==0.5.3
iniconfig==1.1.1
ipython==7.19.0
ipython-genutils==0.2.0
isort==5.4.2
itsdangerous==2.0.1
jedi==0.17.2
Jinja2==3.0.1
joblib==0.17.0
Kivy==2.0.0
kivy-deps.angle==0.3.0
kivy-deps.glew==0.3.0
kivy-deps.sdl2==0.3.1
Kivy-Garden==0.1.4
kivymd==0.104.2
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
libcst==0.3.16
librosa==0.8.1
limits==1.5.1
llvmlite==0.37.0
lxml==4.6.3
Mako==1.1.3
MarkupSafe==2.0.1
matplotlib==3.3.2
mccabe==0.6.1
MechanicalSoup==1.1.0
MouseInfo==0.1.3
mpmath==1.2.1
mypy-extensions==0.4.3
mysql-connector-python==8.0.24
Naked==0.1.31
numba==0.54.1
numpy==1.20.3
oauth2==1.9.0.post1
oauthlib==2.0.7
opencv-python==4.4.0.46
packaging==20.9
pandas==1.1.4
parso==0.7.1
passlib==1.7.2
pickleshare==0.7.5
Pillow==7.2.0
pluggy==0.13.1
pooch==1.5.2
prompt-toolkit==3.0.8
proto-plus==1.13.0
protobuf==3.14.0
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.52
pychorus==0.1
pycodestyle==2.6.0
pycparser==2.20
pycryptodome==3.9.9
pyfiglet==0.8.post1
PyGetWindow==0.0.9
pyglet==1.5.0
Pygments==2.7.3
PyJWT==1.7.1
pylint==2.6.0
pymongo==3.12.0
PyMsgBox==1.0.9
pyparsing==2.4.7
pyperclip==1.8.2
pypiwin32==223
PyQRCode==1.2.1
PyRect==0.1.4
PyScreeze==0.1.27
pytest==6.2.3
python-dateutil==2.8.1
python-dotenv==0.14.0
python-editor==1.0.3
python-engineio==3.13.1
python-socketio==4.6.0
python-utils==2.4.0
PyTweening==1.0.3
pytz==2020.1
pywhatkit==4.7
pywin32==301
PyYAML==5.3.1
pyzbar==0.1.8
qrcode==6.1
qrtools==0.0.2
regex==2021.4.4
requests==2.25.1
requests-oauthlib==0.8.0
resampy==0.2.2
rfc3986==1.4.0
rsa==4.6
scikit-learn==0.23.2
scipy==1.5.4
seaborn==0.11.0
selenium==3.141.0
shellescape==3.8.1
six==1.12.0
sklearn==0.0
sniffio==1.1.0
SoundFile==0.10.3.post1
soupsieve==2.2.1
SQLAlchemy==1.3.18
SQLAlchemy-Utils==0.33.2
stripe==2.50.0
sympy==1.3
threadpoolctl==2.1.0
traitlets==5.0.5
twilio==6.44.1
typing-extensions==3.7.4.3
typing-inspect==0.6.0
urllib3==1.24.2
URLObject==2.4.3
utils==1.0.1
verlat==0.0.2
wappdriver==0.6.6
wcwidth==0.2.5
Werkzeug==2.0.1
wikipedia==1.4.0
wincertstore==0.2
wrapt==1.12.1
WTForms==2.1
zope.interface==5.1.0
