{%extends "base.htm"%} {%block content%}
<br><br><br><br><br>

<section class="designs">
  <h1 class="heading-2">All your designs</h1>

  <div class="designs-container">

    {%if current_user.designs%}
    {%for i in ranges%}
    <div class="design">
      <p class="design__heading">{{name[i]}}</p>
      <img src="{{url_for('static',filename=design[i].location)}}" alt="" class="design__img">
      <p class="design__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa nisi repellendus perferendis consectetur minima et, obcaecati similique modi eligendi</p>
      <a href="" class="btn-primary btn-primary__link">Edit</a>
      <a href="{{url_for('remove', design_id=design[i].id,adjectives_='person',where='account',name_=name[i])}}" class="btn-primary btn-secondary__link">Delete</a>
    </div>
    {%endfor%}
  {%else%}
  {%endif %}
{%endblock%}
