<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Sign up</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="/static/logo.png">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <nav class="navbar sticky">
            <div class="navbar__pages">
                <a href="{{url_for('index')}}" class="navbar__logo">
                    <img src="../static/minet logo 2.png" alt="logo" class="navbar__logo--img">
                    <!-- <p class="navbar__logo--text">MetaBlocks</p> -->
                </a>
                <a href="{{url_for('index')}}" class="navbar__link">Home</a>
            </div>
            <div class="navbar__account">
                <div class="navbar__account--links">
                  {%if current_user.is_authenticated%}
                    <a href="{{url_for('find',adjectives='None',name_= 'None')}}" class="navbar__link">Create</a>
                    <a href="{{url_for('account')}}" class="navbar__link">Account</a>
                    <a href="{{url_for('logout')}}" class="navbar__link navbar__create-link">Logout</a>
                  {%else%}
                    <a href="{{url_for('login')}}" class="navbar__link">Sign In</a>
                    <a href="{{url_for('register')}}" class="navbar__link navbar__create-link">Sign Up</a>
                  {%endif%}
                </div>
                <div class="toggleNav"></div>
            </div>
        </nav>
        <div class="navbar-responsive">
            <a href="{{url_for('index')}}" class="navbar-responsive__link">Home</a>
            {%if current_user.is_authenticated%}
              <a href="{{url_for('find',adjectives='None',name_='None')}}" class="navbar-responsive__link">Find</a>
              <a href="{{url_for('account')}}" class="navbar-responsive__link">Account</a>
              <a href="{{url_for('logout')}}" class="navbar-responsive__link">Logout</a>
            {%else%}
            <a href="{{url_for('login')}}" class="navbar-responsive__link">Sign In</a>
            <a href="{{url_for('register')}}" class="navbar-responsive__link">Sign Up</a>
            {%endif%}
        </div>
  {%block content%} {%endblock%}

  <footer class="footer">
    <p class="footer__text"> Made with <span
      style="color:rgb(249, 16, 105);">♥</span>
    by
    team XINO
    </p>
  </footer>

  <div>

  </div>
  <!-- Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum est eos, dicta architecto obcaecati quia, minus
  temporibus molestias doloribus repellat iusto officia nihil, expedita illum cum distinctio adipisci amet sit.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut adipisci fugit enim dolore! Non quasi dolorem enim culpa
  similique veritatis repellat quo eaque ratione corrupti, cumque dolor dolores saepe ducimus?
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis optio eligendi perspiciatis est quod! Ullam
  explicabo ipsum quaerat iste quibusdam cum sit quos error, commodi dolor eum voluptas expedita illo.
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum est eos, dicta architecto obcaecati quia, minus
  temporibus molestias doloribus repellat iusto officia nihil, expedita illum cum distinctio adipisci amet sit.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut adipisci fugit enim dolore! Non quasi dolorem enim culpa
  similique veritatis repellat quo eaque ratione corrupti, cumque dolor dolores saepe ducimus?
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis optio eligendi perspiciatis est quod! Ullam
  explicabo ipsum quaerat iste quibusdam cum sit quos error, commodi dolor eum voluptas expedita illo.Lorem, ipsum dolor
  sit amet consectetur adipisicing elit. Ipsum est eos, dicta architecto obcaecati quia, minus
  temporibus molestias doloribus repellat iusto officia nihil, expedita illum cum distinctio adipisci amet sit.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut adipisci fugit enim dolore! Non quasi dolorem enim culpa
  similique veritatis repellat quo eaque ratione corrupti, cumque dolor dolores saepe ducimus?
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis optio eligendi perspiciatis est quod! Ullam
  explicabo ipsum quaerat iste quibusdam cum sit quos error, commodi dolor eum voluptas expedita illo.Lorem, ipsum dolor
  sit amet consectetur adipisicing elit. Ipsum est eos, dicta architecto obcaecati quia, minus
  temporibus molestias doloribus repellat iusto officia nihil, expedita illum cum distinctio adipisci amet sit.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut adipisci fugit enim dolore! Non quasi dolorem enim culpa
  similique veritatis repellat quo eaque ratione corrupti, cumque dolor dolores saepe ducimus?
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis optio eligendi perspiciatis est quod! Ullam
  explicabo ipsum quaerat iste quibusdam cum sit quos error, commodi dolor eum voluptas expedita illo.Lorem, ipsum dolor
  sit amet consectetur adipisicing elit. Ipsum est eos, dicta architecto obcaecati quia, minus
  temporibus molestias doloribus repellat iusto officia nihil, expedita illum cum distinctio adipisci amet sit.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut adipisci fugit enim dolore! Non quasi dolorem enim culpa
  similique veritatis repellat quo eaque ratione corrupti, cumque dolor dolores saepe ducimus?
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis optio eligendi perspiciatis est quod! Ullam
  explicabo ipsum quaerat iste quibusdam cum sit quos error, commodi dolor eum voluptas expedita illo. -->
</body>

</html>
