{%extends 'base.htm'%} {%block content%}


<div class="sign-up mgb-medium">
  <div class="row justify-content-center ">
    <br>

    <form method="POST" enctype="multipart/form-data" class="form">
      <h1 class="heading-2">Create Your Block</h1>
      <br>
      {{form.hidden_tag()}}
      <div class = "input-wrapper">
        <label class="form__label" for="inline-full-name">
          Describe your Design
        </label>
        {{form.adjectives(class="form__search-input", placeholder="eg: modern, trending...")}}
      </div>

      <div class = "input-wrapper">
        <label class="form__label" for="inline-full-name">
          Give it a Name
        </label>
        {{form.name(class="form__search-input", placeholder="eg: Munchies")}}
      </div>

      <div>
        {{form.submit(class ="form__btn", value="Create")}}
      </div>
    </form>
  </div>
</div>

<div>
  {%for i in nums%}
  <div class="design">
    <p class="design__heading">{{name_.split(',')[i]}}</p>
    <img src="{{url_for('static',filename=da_list[i].location)}}" alt="" class="design__img">
    <a href="" class="btn-primary btn-primary__link">Edit</a>
    <a href="{{url_for('add', design_id=da_list[i].id,adjectives_=adjectives,where='find',name_=name_)}}" class="btn-primary btn-secondary__link">Add</a>
  </div>
  {%endfor%}
</div>
{%endblock%}
