{% extends "base.htm" %} {% block content %}

<main class="hero">
    <div class="hero__text-container">
        <h1 class="heading-1">Build anything you want</h1>
        <p class="hero__text">With powerful and lightning fast build tools, MetaBlocks has everything you need to turn your ideas into incredible designs.</p>
        <a href="" class="btn-primary__link mgr-small">Get Started</a>
        <a href="" class="btn-primary btn-secondary__link">Learn More</a>
    </div>
    <div class="hero__img-container">
        <img src="../static/hero img.png" alt="" class="hero__img">
    </div>
</main>

{% endblock %}

